.addProducts {
    margin: 3em;
    font-weight: lighter;
}

.addProducts h1 {
    font-weight: lighter;
}

.addProducts h2 {
    font-weight: lighter;
    font-size: 1.4em;
}

.addProducts .quotes {
    color: red;
    font-size: 1em;
}

.addProducts input[type="submit"] {
    padding: 0.8em;
    width: 100%;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    -webkit-transition: .4s;
    transition: .4s;
}

.addProducts input[type="submit"]:hover {
    -webkit-transform: scale(-50%, -50%);
    transform: scale(-50%, -50%);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
